/* PerfilUsuarioArtista.css */
.perfil-artista {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.info-artista p {
    font-size: 16px;
    margin: 8px 0;
}

.estampas {
    margin-top: 20px;
}

.estampas ul {
    list-style-type: none;
    padding: 0;
}

.estampas li {
    font-size: 14px;
    margin: 5px 0;
}
